In [1]:
import pandas as pd
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.impute import SimpleImputer
from sklearn.model_selection import train_test_split
import joblib

In [2]:
df = pd.read_csv('zillow_rent_cleaned.csv')

In [3]:
df_model = df.copy()

# Convert Date to datetime
df_model['Date'] = pd.to_datetime(df_model['Date'], format='%B %Y', errors='coerce')

# Extract time-based features
df_model['Year'] = df_model['Date'].dt.year
df_model['Month'] = df_model['Date'].dt.month

# Drop raw Date (models don't handle datetime directly)
df_model.drop(columns=['Date'], inplace=True)

In [4]:
df_model.head()

,City Code,City,Metro,County,State,Population Rank,RentPrice,Year,Month
0,6181,New York,New York,Queens,NY,1,1327.100458,2010,11
1,12447,Los Angeles,Los Angeles,Los Angeles,CA,2,2184.000000,2010,11
2,17426,Chicago,Chicago,Cook,IL,3,1563.000000,2010,11
3,39051,Houston,Houston,Harris,TX,4,1198.000000,2010,11
4,13271,Philadelphia,Philadelphia,Philadelphia,PA,5,1092.000000,2010,11

In [5]:
X = df_model.drop(columns=['RentPrice', 'City Code'])
y = df_model['RentPrice']

In [6]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, shuffle=False)

In [7]:
categorical_cols = X_train.select_dtypes(include=['object']).columns.tolist()
numeric_cols = X_train.select_dtypes(include=['int32', 'int64','float64']).columns.tolist()


categorical_cols, numeric_cols

(['City', 'Metro', 'County', 'State'], ['Population Rank', 'Year', 'Month'])

In [8]:
X_train[X_train['City'] == 'Los Angeles']

,City,Metro,County,State,Population Rank,Year,Month
1,Los Angeles,Los Angeles,Los Angeles,CA,2,2010,11
13132,Los Angeles,Los Angeles,Los Angeles,CA,2,2010,12
26263,Los Angeles,Los Angeles,Los Angeles,CA,2,2011,1
39394,Los Angeles,Los Angeles,Los Angeles,CA,2,2011,2
52525,Los Angeles,Los Angeles,Los Angeles,CA,2,2011,3
65656,Los Angeles,Los Angeles,Los Angeles,CA,2,2011,4
78787,Los Angeles,Los Angeles,Los Angeles,CA,2,2011,5
91918,Los Angeles,Los Angeles,Los Angeles,CA,2,2011,6
105049,Los Angeles,Los Angeles,Los Angeles,CA,2,2011,7
118180,Los Angeles,Los Angeles,Los Angeles,CA,2,2011,8
131311,Los Angeles,Los Angeles,Los Angeles,CA,2,2011,9
144442,Los Angeles,Los Angeles,Los Angeles,CA,2,2011,10
157573,Los Angeles,Los Angeles,Los Angeles,CA,2,2011,11
170704,Los Angeles,Los Angeles,Los Angeles,CA,2,2011,12
183835,Los Angeles,Los Angeles,Los Angeles,CA,2,2012,1
196966,Los Angeles,Los Angeles,Los Angeles,CA,2,2012,2
210097,Los Angeles,Los Angeles,Los Angeles,CA,2,2012,3
223228,Los Angeles,Los Angeles,Los Angeles,CA,2,2012,4
236359,Los Angeles,Los Angeles,Los Angeles,CA,2,2012,5
249490,Los Angeles,Los Angeles,Los Angeles,CA,2,2012,6
262621,Los Angeles,Los Angeles,Los Angeles,CA,2,2012,7
275752,Los Angeles,Los Angeles,Los Angeles,CA,2,2012,8
288883,Los Angeles,Los Angeles,Los Angeles,CA,2,2012,9
302014,Los Angeles,Los Angeles,Los Angeles,CA,2,2012,10
315145,Los Angeles,Los Angeles,Los Angeles,CA,2,2012,11
328276,Los Angeles,Los Angeles,Los Angeles,CA,2,2012,12
341407,Los Angeles,Los Angeles,Los Angeles,CA,2,2013,1
354538,Los Angeles,Los Angeles,Los Angeles,CA,2,2013,2
367669,Los Angeles,Los Angeles,Los Angeles,CA,2,2013,3
380800,Los Angeles,Los Angeles,Los Angeles,CA,2,2013,4
393931,Los Angeles,Los Angeles,Los Angeles,CA,2,2013,5
407062,Los Angeles,Los Angeles,Los Angeles,CA,2,2013,6
420193,Los Angeles,Los Angeles,Los Angeles,CA,2,2013,7
433324,Los Angeles,Los Angeles,Los Angeles,CA,2,2013,8
446455,Los Angeles,Los Angeles,Los Angeles,CA,2,2013,9
459586,Los Angeles,Los Angeles,Los Angeles,CA,2,2013,10
472717,Los Angeles,Los Angeles,Los Angeles,CA,2,2013,11
485848,Los Angeles,Los Angeles,Los Angeles,CA,2,2013,12
498979,Los Angeles,Los Angeles,Los Angeles,CA,2,2014,1
512110,Los Angeles,Los Angeles,Los Angeles,CA,2,2014,2
525241,Los Angeles,Los Angeles,Los Angeles,CA,2,2014,3
538372,Los Angeles,Los Angeles,Los Angeles,CA,2,2014,4
551503,Los Angeles,Los Angeles,Los Angeles,CA,2,2014,5
564634,Los Angeles,Los Angeles,Los Angeles,CA,2,2014,6
577765,Los Angeles,Los Angeles,Los Angeles,CA,2,2014,7
590896,Los Angeles,Los Angeles,Los Angeles,CA,2,2014,8
604027,Los Angeles,Los Angeles,Los Angeles,CA,2,2014,9
617158,Los Angeles,Los Angeles,Los Angeles,CA,2,2014,10
630289,Los Angeles,Los Angeles,Los Angeles,CA,2,2014,11
643420,Los Angeles,Los Angeles,Los Angeles,CA,2,2014,12
656551,Los Angeles,Los Angeles,Los Angeles,CA,2,2015,1
669682,Los Angeles,Los Angeles,Los Angeles,CA,2,2015,2
682813,Los Angeles,Los Angeles,Los Angeles,CA,2,2015,3
695944,Los Angeles,Los Angeles,Los Angeles,CA,2,2015,4
709075,Los Angeles,Los Angeles,Los Angeles,CA,2,2015,5
722206,Los Angeles,Los Angeles,Los Angeles,CA,2,2015,6
735337,Los Angeles,Los Angeles,Los Angeles,CA,2,2015,7
748468,Los Angeles,Los Angeles,Los Angeles,CA,2,2015,8
761599,Los Angeles,Los Angeles,Los Angeles,CA,2,2015,9
774730,Los Angeles,Los Angeles,Los Angeles,CA,2,2015,10

In [9]:
# Define transformers
numeric_transformer = Pipeline([
    ('imputer', SimpleImputer(strategy='mean')),    # fill NaNs
    ('scaler', StandardScaler())
])

categorical_transformer = Pipeline([
    ('imputer', SimpleImputer(strategy='most_frequent')),  # fill NaNs
    ('onehot', OneHotEncoder(handle_unknown='ignore', sparse_output=True))
])

# Combine into preprocessor
preprocessor = ColumnTransformer([
    ('num', numeric_transformer, numeric_cols),
    ('cat', categorical_transformer, categorical_cols)
])

# Fit and transform
X_train_processed = preprocessor.fit_transform(X_train)
X_test_processed = preprocessor.transform(X_test)

Categorical variables were converted into indicator variables using one-hot encoding.
Numeric features were standardized using StandardScaler to ensure comparable magnitudes across features.
The dataset was split into training and testing sets without shuffling to preserve temporal structure.